workflows/demo/demo_orchestrator.json
{
  "name": "DEMO: Orchestrator WF4/WF5",
  "nodes": [
    {
      "parameters": {},
      "id": "uuid-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        50,
        50
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/analysis/top50.csv"
      },
      "id": "uuid-read-csv",
      "name": "Leer CSV top50 real",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        250,
        50
      ]
    },
    {
      "parameters": {
        "operation": "fromFile",
        "binaryPropertyName": "data",
        "fileFormat": "csv",
        "options": {
          "delimiter": ",",
          "encoding": "utf-8",
          "enableBOM": true,
          "headerRow": true,
          "includeEmptyCells": false,
          "maxRowCount": -1,
          "readAsString": false,
          "fromLine": 1,
          "skipRecordsWithErrors": {
            "value": {
              "enabled": true,
              "maxSkippedRecords": -1
            }
          }
        }
      },
      "id": "uuid-parse-csv",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        450,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json).filter((row) => String(row.tier).trim().toUpperCase() === 'B');\nconst scenarios = [\n  { kind: 'interesado', reply_text: 'Hola, sí estamos interesados en avanzar con BNPL. Podemos agendar una llamada con nuestro CFO esta semana.' },\n  { kind: 'objecion', reply_text: 'Nos interesa, pero hoy la objeción principal es el esfuerzo operativo de integración y el riesgo financiero. ¿Cómo lo manejan?' },\n  { kind: 'opt_out', reply_text: 'Gracias, por ahora no estamos interesados. Preferimos no continuar con este contacto.' }\n];\n\nreturn scenarios.map((scenario, index) => {\n  const row = rows[index];\n  return {\n    json: {\n      ...row,\n      scenario: scenario.kind,\n      reply_text: scenario.reply_text,\n      reply_date: new Date().toISOString(),\n      contacto_nombre: ['María Rodríguez', 'Juan Pérez', 'Laura Gómez'][index]\n    }\n  };\n});"
      },
      "id": "uuid-build-cases",
      "name": "Construir 3 casos reales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfunction normalizeSuggestedAction(parsedAction, intentScore) {\n  const normalized = String(parsedAction || '').trim().toLowerCase();\n  if (normalized === 'agendar' || normalized === 'nurture' || normalized === 'descartar') {\n    return normalized;\n  }\n  if (intentScore >= 70) return 'agendar';\n  if (intentScore >= 40) return 'nurture';\n  return 'descartar';\n}\n\nfor (const item of items) {\n  const payload = {\n    model: 'llama-3.3-70b-versatile',\n    temperature: 0,\n    max_tokens: 500,\n    response_format: { type: 'json_object' },\n    messages: [\n      {\n        role: 'system',\n        content: 'You are a B2B sales qualification expert for Addi Marketplace. Return only valid JSON with intent_score, is_decision_maker, objection_type, suggested_action, reasoning. No markdown.'\n      },\n      {\n        role: 'user',\n        content: `Contexto:\\nBrand: ${item.json.brand_id} (${item.json.category})\\nGMV 12m: COP ${item.json.gmv_cop_millions_12m} MM\\nMomentum: ${item.json.gmv_90d_to_12m_ratio}x\\nScore Addi: ${item.json.final_score}\\nContacto: ${item.json.contacto_nombre}\\n\\nReply recibido:\\n${item.json.reply_text}\\n\\nClasifica segun intent_score (0-100), decision maker, objection type, y suggested action. Responde SOLO en JSON valido sin markdown.`\n      }\n    ]\n  };\n\n  const data = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.groq.com/openai/v1/chat/completions',\n    headers: {\n      Authorization: `Bearer ${$env.GROQ_API_KEY}`,\n      'Content-Type': 'application/json'\n    },\n    body: payload,\n    json: true\n  });\n\n  const content = data.choices?.[0]?.message?.content || '{}';\n  const parsed = JSON.parse(content);\n  const intentScore = Number.isFinite(Number(parsed.intent_score)) ? Number(parsed.intent_score) : 0;\n  const suggestedAction = normalizeSuggestedAction(parsed.suggested_action, intentScore);\n  const qualification_result = {\n    intent_score: intentScore,\n    is_decision_maker: parsed.is_decision_maker,\n    objection_type: parsed.objection_type || null,\n    suggested_action: suggestedAction,\n    reasoning: parsed.reasoning || ''\n  };\n\n  results.push({\n    json: {\n      ...item.json,\n      qualification_result,\n      groq_raw: data\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "uuid-groq-call",
      "name": "Clasificar con Groq real",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfunction normalizeSuggestedAction(parsedAction, intentScore) {\n  const normalized = String(parsedAction || '').trim().toLowerCase();\n  if (normalized === 'agendar' || normalized === 'nurture' || normalized === 'descartar') {\n    return normalized;\n  }\n  if (intentScore >= 70) return 'agendar';\n  if (intentScore >= 40) return 'nurture';\n  return 'descartar';\n}\n\nfor (const item of items) {\n  const intentScore = Number.isFinite(Number(item.json.qualification_result?.intent_score)) ? Number(item.json.qualification_result.intent_score) : 0;\n  const routedAction = normalizeSuggestedAction(item.json.qualification_result?.suggested_action, intentScore);\n  item.json.qualification_result.suggested_action = routedAction;\n\n  if (routedAction === 'agendar') {\n    const payload = {\n      id: `DEMO_${String(item.json.brand_id || 'LEAD').replace(/[^A-Za-z0-9_]/g, '_')}_${Date.now()}`,\n      FirstName: String(item.json.contacto_nombre || '').split(' ')[0] || '',\n      LastName: String(item.json.contacto_nombre || '').split(' ').slice(1).join(' ').trim() || item.json.brand_id || 'Unknown',\n      Company: item.json.brand_id || '',\n      Email: item.json.contacto_email || '',\n      LeadSource: 'Inbound - Addi Marketplace Motion',\n      Status: 'Open - Not Contacted',\n      xsell_score__c: item.json.final_score ?? null,\n      bnpl_gmv_12m__c: item.json.gmv_cop_millions_12m ?? null,\n      bnpl_momentum__c: item.json.gmv_90d_to_12m_ratio ?? null,\n      cms_detected__c: item.json.cms_detectado || '',\n      qualification_summary__c: item.json.qualification_result.reasoning,\n      intent_score__c: item.json.qualification_result.intent_score,\n      objection_type__c: item.json.qualification_result.objection_type,\n      suggested_action__c: routedAction,\n      linkedin_url__c: item.json.linkedin_url || '',\n      enrichment_status__c: item.json.enrichment_status || 'success'\n    };\n    console.log(`[WF-5 Salesforce payload simulated] ${JSON.stringify(payload, null, 2)}`);\n    item.json.salesforce_payload = payload;\n    item.json.salesforce_lead_id = payload.id;\n  }\n\n  const slackBody = {\n    text: 'DEMO: Caso procesado',\n    blocks: [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*Brand:* ${item.json.brand_id}\\n*Scenario:* ${item.json.scenario}\\n*Intent Score:* ${item.json.qualification_result.intent_score}/100\\n*Suggested:* ${routedAction}\\n*Objecion:* ${item.json.qualification_result.objection_type || 'Ninguna'}`\n        }\n      },\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: item.json.qualification_result.reasoning\n        }\n      }\n    ]\n  };\n\n  const slackResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: $env.SLACK_WEBHOOK_URL,\n    headers: {\n      'Content-Type': 'application/json'\n    },\n    body: slackBody,\n    json: true\n  });\n\n  results.push({ json: { ...item.json, slack_status: 'sent', slack_response: slackResponse, routed_action: routedAction } });\n}\n\nreturn results;"
      },
      "id": "uuid-slack-result",
      "name": "Notificar resultado en Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        50
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Leer CSV top50 real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer CSV top50 real": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Construir 3 casos reales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir 3 casos reales": {
      "main": [
        [
          {
            "node": "Clasificar con Groq real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar con Groq real": {
      "main": [
        [
          {
            "node": "Notificar resultado en Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Bogota",
    "executionOrder": "v1"
  },
  "id": "demo-orchestrator-001",
  "tags": []
}
