workflows/demo/test_min.json
{
  "name": "TEST: Min CSV Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "uuid-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        50,
        50
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/analysis/top50.csv"
      },
      "id": "uuid-read-csv",
      "name": "Leer CSV top50 real",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        250,
        50
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "rawData": "=csv"
      },
      "id": "uuid-parse-csv",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 3,
      "position": [
        450,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { count: $input.all().length, first_brand: $input.first().json.brand_id } }];"
      },
      "id": "uuid-count",
      "name": "Count rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        50
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Leer CSV top50 real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer CSV top50 real": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Count rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Bogota",
    "executionOrder": "v1"
  },
  "id": "demo-test-min-001",
  "tags": []
}
