workflows/demo/test_read_only.json
{
  "name": "TEST: Read Only",
  "nodes": [
    {
      "parameters": {},
      "id": "uuid-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        50,
        50
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/analysis/top50.csv"
      },
      "id": "uuid-read-csv",
      "name": "Leer CSV top50 real",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        250,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "const binary = $input.first().binary.data;\nreturn [{ json: { hasBinary: !!binary, fileName: binary.fileName || null, mimeType: binary.mimeType || null } }];"
      },
      "id": "uuid-inspect-binary",
      "name": "Inspect binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        50
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Leer CSV top50 real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer CSV top50 real": {
      "main": [
        [
          {
            "node": "Inspect binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Bogota",
    "executionOrder": "v1"
  },
  "id": "demo-read-only-001",
  "tags": []
}
