workflows/demo/WF-DEMO-2_email_gmail.json
{
  "name": "WF-DEMO-2: Email D0 vía Gmail OAuth2",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [50, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepara el email en RFC 2822 base64 para cada una de las 3 marcas\nconst brand = $input.item.json;\nconst destEmail = process.env.DEMO_EMAIL_DESTINO || 'briyidcatalinacruzostos@gmail.com';\n\nconst subject = `Addi Marketplace: oportunidad para ${brand.category}`;\nconst body = `Hola,\n\nNotamos que ${brand.brand_id} procesó COP ${brand.gmv_cop_millions_12m.toLocaleString('es-CO')} MM\ncon Addi BNPL en los últimos 12 meses, con un crecimiento del\n${Math.round(brand.gmv_90d_to_12m_ratio * 100)}% en el último trimestre.\n\nEso nos dice que tus clientes ya confían en financiamiento Addi para\ncomprar en tu tienda. La pregunta natural es: ¿por qué no darles esa\nmisma opción directamente desde el Marketplace de Addi, donde ya hay\nmiles de compradores activos buscando productos de ${brand.category}?\n\nCon un score de ${brand.final_score}/100 en tu categoría, la oportunidad\nde ser de los primeros en ${brand.category} dentro del Marketplace es real y concreta.\n\n¿Tienes 20 minutos esta semana para explorar si tiene sentido?\n\nSaludos,\nEquipo GTM Addi Marketplace`;\n\n// Construir mensaje MIME RFC 2822\nconst mimeMessage = `From: me\\r\\nTo: ${destEmail}\\r\\nSubject: ${subject}\\r\\nContent-Type: text/plain; charset=utf-8\\r\\n\\r\\n${body}`;\n\n// Convertir a base64\nconst base64Message = Buffer.from(mimeMessage).toString('base64').replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=/g, '');\n\nreturn {\n  json: {\n    brand_id: brand.brand_id,\n    category: brand.category,\n    gmv_cop_millions_12m: brand.gmv_cop_millions_12m,\n    subject: subject,\n    body: body,\n    raw: base64Message,\n    to: destEmail\n  }\n};"
      },
      "name": "Build Email RFC2822",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "method": "POST",
        "url": "=https://www.googleapis.com/gmail/v1/users/me/messages/send",
        "sendBody": true,
        "bodyParameters": [
          {
            "name": "raw",
            "value": "={{ $json.raw }}"
          }
        ],
        "oauthCredentials": "gmail_oauth2"
      },
      "name": "Send via Gmail API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log del email enviado\nconst result = $input.item.json;\nconsole.log(`✓ Email enviado para ${result.json.brand_id}`);\nconsole.log(`  Message ID: ${result.json.id}`);\nconsole.log(`  Para: ${result.json.to}`);\n\nreturn {\n  json: {\n    brand_id: result.json.brand_id,\n    category: result.json.category,\n    message_id: result.json.id,\n    to: result.json.to,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Log Email Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Build Email RFC2822", "branch": 0 }]]
    },
    "Build Email RFC2822": {
      "main": [[{ "node": "Send via Gmail API", "branch": 0 }]]
    },
    "Send via Gmail API": {
      "main": [[{ "node": "Log Email Sent", "branch": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
