workflows/demo/WF-DEMO-4_handoff_slack.json
{
  "name": "WF-DEMO-4: Handoff Slack (gate de opt-out)",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [50, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nif (item.gate_opt_out_active) { console.log('[GATE] OPT-OUT BLOQUEADO para ' + item.brand_id); return { json: { brand_id: item.brand_id, reply_type: item.reply_type, reply_text: item.reply_text, classification: item.classification, blocked_by_compliance: true, gate_opt_out_active: true, slack_message: null, whatsapp_message: null, action: 'BLOQUEADO' } }; }\nconst intentScore = Number.isFinite(Number(item.classification.intent_score)) ? Number(item.classification.intent_score) : 0;\nconst action = ['agendar', 'nurture', 'descartar'].includes(String(item.classification.suggested_action || '').trim().toLowerCase()) ? String(item.classification.suggested_action).trim().toLowerCase() : (intentScore >= 70 ? 'agendar' : intentScore >= 40 ? 'nurture' : 'descartar');\nlet slack_msg = '';\nlet wa_msg = '';\nif (action === 'agendar') {\n  slack_msg = '[LEAD CALIFICADO] ' + item.brand_id + ' | ' + item.category + '\nIntent: ' + item.classification.intent_score + '/100 | Score: ' + item.classification.final_score + '/100\nReply: ' + item.reply_text + '\nAccion: AGENDAR';\n  wa_msg = 'Hola, un especialista de Addi Marketplace se contactara en las proximas horas.';\n} else if (action === 'nurture') {\n  slack_msg = '[NURTURE] ' + item.brand_id + ' | ' + item.category + '\nIntent: ' + item.classification.intent_score + '/100\nReply: ' + item.reply_text + '\nAccion: NURTURE';\n  wa_msg = null;\n} else {\n  slack_msg = '[DESCARTADO] ' + item.brand_id + '\nIntent: ' + item.classification.intent_score + '/100\nReply: ' + item.reply_text;\n  wa_msg = null;\n}\nreturn { json: { brand_id: item.brand_id, reply_type: item.reply_type, reply_text: item.reply_text, classification: item.classification, blocked_by_compliance: false, gate_opt_out_active: false, slack_message: slack_msg, whatsapp_message: wa_msg, action: action } };"
      },
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": [
          {
            "name": "text",
            "value": "={{ $json.blocked_by_compliance ? '[OPT-OUT] ' + $json.brand_id + ': Sin contacto' : $json.slack_message }}"
          }
        ]
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nif (item.blocked_by_compliance) { console.log('[COMPLIANCE] WhatsApp BLOQUEADO'); return { json: { brand_id: item.brand_id, action: item.action, whatsapp_sent: false, whatsapp_blocked: true } }; }\nif (item.whatsapp_message) { console.log('[WHATSAPP SIM]'); return { json: { brand_id: item.brand_id, action: item.action, whatsapp_sent: true, whatsapp_blocked: false } }; } else { console.log('[WHATSAPP] Omitido'); return { json: { brand_id: item.brand_id, action: item.action, whatsapp_sent: false, whatsapp_blocked: false } }; }"
      },
      "name": "WhatsApp Simulation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst log = { timestamp: new Date().toISOString(), brand_id: item.brand_id, reply_type: item.reply_type, intent_score: item.classification.intent_score, action: item.classification.suggested_action, slack_sent: !item.whatsapp_blocked, whatsapp_blocked: item.whatsapp_blocked, result: item.whatsapp_blocked ? 'PASS - OPT-OUT BLOQUEADO' : 'PASS' };\nconsole.log(JSON.stringify(log, null, 2));\nreturn { json: log };"
      },
      "name": "Final Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Build Slack Message", "branch": 0 }]]
    },
    "Build Slack Message": {
      "main": [[{ "node": "Send to Slack", "branch": 0 }]]
    },
    "Send to Slack": {
      "main": [[{ "node": "WhatsApp Simulation", "branch": 0 }]]
    },
    "WhatsApp Simulation": {
      "main": [[{ "node": "Final Log", "branch": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
