workflows/demo/WF-DEMO-3_clasificacion_groq.json
{
  "name": "WF-DEMO-3: Clasificación con Groq (datos reales)",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [50, 300]
    },
    {
      "parameters": {
        "jsCode": "const brand = $input.item.json;\nconst replies = [\n  { type: 'interesado', text: 'Sí me interesa, ¿cómo funciona el proceso de integración con el Marketplace?', es_opt_out: false },\n  { type: 'objeción', text: 'Las comisiones del marketplace me parecen muy altas comparado con vender directo', es_opt_out: false },\n  { type: 'opt-out', text: 'Por favor no me vuelvan a escribir, no me interesa para nada', es_opt_out: true }\n];\nreturn replies.map(reply => ({\n  json: {\n    brand_id: brand.brand_id,\n    category: brand.category,\n    gmv_cop_millions_12m: brand.gmv_cop_millions_12m,\n    gmv_90d_to_12m_ratio: brand.gmv_90d_to_12m_ratio,\n    final_score: brand.final_score,\n    reply_type: reply.type,\n    reply_text: reply.text,\n    es_opt_out: reply.es_opt_out\n  }\n}));"
      },
      "name": "Generate Replies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nif (item.es_opt_out) {\n  return { json: { brand_id: item.brand_id, reply_text: item.reply_text, reply_type: item.reply_type, classification: { intent_score: 0, is_decision_maker: false, objection_type: null, suggested_action: 'descartar', reasoning: 'Opt-out explícito del merchant' }, groq_called: false, gate_opt_out_active: true } };\n}\nconst systemPrompt = `Eres el clasificador de leads. Responde SOLO en JSON: {\"intent_score\": <0-100>, \"is_decision_maker\": <true|false>, \"objection_type\": <null|\"precio\"|\"integracion\">, \"suggested_action\": <\"agendar\"|\"nurture\"|\"descartar\">, \"reasoning\": \"<corta>\"}. Brand: ${item.brand_id}, ${item.category}, GMV ${item.gmv_cop_millions_12m}MM, crecimiento ${Math.round(item.gmv_90d_to_12m_ratio*100)}%, score ${item.final_score}/100. Reglas: 70-100=agendar, 40-69=nurture, 0-39=descartar. IMPORTANTE: suggested_action debe ser EXACTAMENTE una de estas 3 palabras, sin texto adicional: agendar, nurture, descartar. El detalle o razón va en reasoning, NO en suggested_action.`;\nreturn { json: { brand_id: item.brand_id, category: item.category, reply_text: item.reply_text, reply_type: item.reply_type, systemPrompt: systemPrompt, userMessage: `Reply: \"${item.reply_text}\"`, groq_called: true } };"
      },
      "name": "Prepare Groq Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "headerBearerToken",
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendBody": true,
        "bodyParameters": [
          {
            "name": "model",
            "value": "llama-3.3-70b-versatile"
          },
          {
            "name": "messages",
            "value": "={{ [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userMessage }] }}"
          },
          {
            "name": "temperature",
            "value": "0"
          },
          {
            "name": "max_tokens",
            "value": "200"
          }
        ],
        "authentication_bearerToken": "={{ $env.GROQ_API_KEY }}"
      },
      "name": "Call Groq API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nif (!item.groq_called) { return { json: { brand_id: item.brand_id, reply_text: item.reply_text, reply_type: item.reply_type, classification: item.classification, groq_called: false, gate_opt_out_active: item.gate_opt_out_active } }; }\nlet raw = $input.item.json.choices[0].message.content.trim();\nraw = raw.replace(/```json/g, '').replace(/```/g, '').trim();\nlet classification;\ntry { classification = JSON.parse(raw); } catch (e) { console.log('ERROR:', raw); classification = { intent_score: 0, is_decision_maker: false, objection_type: null, suggested_action: 'descartar', reasoning: 'Error en clasificación' }; }\nconst intentScore = Number.isFinite(Number(classification.intent_score)) ? Number(classification.intent_score) : 0;\nconst suggestedAction = ['agendar', 'nurture', 'descartar'].includes(String(classification.suggested_action || '').trim().toLowerCase()) ? String(classification.suggested_action).trim().toLowerCase() : (intentScore >= 70 ? 'agendar' : intentScore >= 40 ? 'nurture' : 'descartar');\nclassification.intent_score = intentScore;\nclassification.suggested_action = suggestedAction;\nreturn { json: { brand_id: item.brand_id, category: item.category, reply_text: item.reply_text, reply_type: item.reply_type, classification: classification, groq_called: true, gate_opt_out_active: false, timestamp: new Date().toISOString() } };"
      },
      "name": "Parse Groq Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Generate Replies", "branch": 0 }]]
    },
    "Generate Replies": {
      "main": [[{ "node": "Prepare Groq Prompt", "branch": 0 }]]
    },
    "Prepare Groq Prompt": {
      "main": [[{ "node": "Call Groq API", "branch": 0 }], [{ "node": "Parse Groq Response", "branch": 0 }]]
    },
    "Call Groq API": {
      "main": [[{ "node": "Parse Groq Response", "branch": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
