workflows/wf1_ingesta_scoring.json
{
  "name": "WF-1: Ingesta Scoring (Top50)",
  "nodes": [
    {
      "parameters": {
        "minute": 0,
        "hour": 6,
        "dayOfWeek": 1,
        "timezone": "America/Bogota"
      },
      "id": "uuid-cron-trigger",
      "name": "Cron Lunes 6:00 AM COT",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        50,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst sourcePath = '/home/node/analysis/top50.csv';\nconst outputPath = '/files/workflows/demo/staging_output.csv';\n\nfunction splitCsvLine(line) {\n  const cells = [];\n  let current = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < line.length; i += 1) {\n    const char = line[i];\n\n    if (char === '\"') {\n      if (inQuotes && line[i + 1] === '\"') {\n        current += '\"';\n        i += 1;\n      } else {\n        inQuotes = !inQuotes;\n      }\n      continue;\n    }\n\n    if (char === ',' && !inQuotes) {\n      cells.push(current);\n      current = '';\n      continue;\n    }\n\n    current += char;\n  }\n\n  cells.push(current);\n  return cells;\n}\n\nfunction parseCsv(text) {\n  const normalized = text.replace(/^\\uFEFF/, '').trim();\n  const lines = normalized.split(/\\r?\\n/).filter((line) => line.trim().length > 0);\n  if (lines.length < 2) {\n    throw new Error('WF-1 expected CSV headers and data rows');\n  }\n\n  const headers = splitCsvLine(lines[0]).map((header) => header.trim());\n  return lines.slice(1).map((line) => {\n    const values = splitCsvLine(line);\n    const row = {};\n    headers.forEach((header, index) => {\n      row[header] = values[index] ?? '';\n    });\n    return row;\n  });\n}\n\nfunction escapeCsv(value) {\n  const text = value === null || value === undefined ? '' : String(value);\n  return /[\",\\n\\r]/.test(text) ? `\"${text.replace(/\"/g, '\"\"')}\"` : text;\n}\n\nconst rows = parseCsv(fs.readFileSync(sourcePath, 'utf8'));\nconst tierA = rows.filter((row) => String(row.tier).trim().toUpperCase() === 'A');\nconst tierB = rows.filter((row) => String(row.tier).trim().toUpperCase() === 'B');\n\nif (rows.length !== 50) {\n  throw new Error(`WF-1 expected 50 rows in analysis/top50.csv, got ${rows.length}`);\n}\nif (tierA.length !== 15) {\n  throw new Error(`WF-1 expected 15 Tier A rows, got ${tierA.length}`);\n}\nif (tierB.length !== 35) {\n  throw new Error(`WF-1 expected 35 Tier B rows, got ${tierB.length}`);\n}\n\nconst headers = [\n  'rank',\n  'brand_id',\n  'tier',\n  'category',\n  'gmv_cop_millions_12m',\n  'n_unique_clients_12m',\n  'gmv_90d_to_12m_ratio',\n  'days_since_last_orig',\n  'recency_score',\n  'fit_score',\n  'momentum_score',\n  'category_bonus',\n  'final_score',\n  'why',\n  'routing'\n];\n\nconst csv = [\n  headers.join(','),\n  ...rows.map((row) => headers.map((header) => escapeCsv(row[header])).join(','))\n].join('\\n') + '\\n';\n\nfs.mkdirSync('/files/workflows/demo', { recursive: true });\nfs.writeFileSync(outputPath, csv, 'utf8');\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toISOString(),\n      source_path: sourcePath,\n      output_path: outputPath,\n      total_rows: rows.length,\n      tier_a_count: tierA.length,\n      tier_b_count: tierB.length\n    }\n  }\n];"
      },
      "id": "uuid-validate-write",
      "name": "Validar top50 y escribir staging local",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        50
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.SLACK_WEBHOOK_URL }}",
        "bodyType": "json",
        "body": {
          "text": "WF-1 Ingesta completado",
          "blocks": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": "WF-1: Ingesta Scoring - Completado"
              }
            },
            {
              "type": "section",
              "fields": [
                {
                  "type": "mrkdwn",
                  "text": "*Tier A (KAM):*\\n15 marcas procesadas"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Tier B (Motion):*\\n35 marcas procesadas"
                }
              ]
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "CSV real leído: `analysis/top50.csv`\\nSalida local: `{{ $json.output_path }}`\\nTimestamp: `{{ $json.timestamp }}`"
              }
            }
          ]
        }
      },
      "id": "uuid-slack-success",
      "name": "Notificar Slack (éxito)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        50
      ]
    }
  ],
  "connections": {
    "Cron Lunes 6:00 AM COT": {
      "main": [
        [
          {
            "node": "Validar top50 y escribir staging local",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar top50 y escribir staging local": {
      "main": [
        [
          {
            "node": "Notificar Slack (éxito)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Bogota",
    "executionOrder": "v1"
  },
  "id": "f1cef522-5e84-4290-bc98-05eeebc0b37f",
  "tags": []
}
