workflows/wf2_enrichment.json
{
  "name": "WF-2: Enrichment (Clay Waterfall)",
  "nodes": [
    {
      "parameters": {
        "minute": 15,
        "hour": 6,
        "dayOfWeek": 1,
        "timezone": "America/Bogota"
      },
      "id": "uuid-cron-trigger",
      "name": "Cron Lunes 6:15 AM COT",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        50,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst sourcePath = '/home/node/analysis/top50.csv';\nconst outputPath = '/files/workflows/demo/staging_output.csv';\n\nfunction splitCsvLine(line) {\n  const cells = [];\n  let current = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < line.length; i += 1) {\n    const char = line[i];\n\n    if (char === '\"') {\n      if (inQuotes && line[i + 1] === '\"') {\n        current += '\"';\n        i += 1;\n      } else {\n        inQuotes = !inQuotes;\n      }\n      continue;\n    }\n\n    if (char === ',' && !inQuotes) {\n      cells.push(current);\n      current = '';\n      continue;\n    }\n\n    current += char;\n  }\n\n  cells.push(current);\n  return cells;\n}\n\nfunction parseCsv(text) {\n  const normalized = text.replace(/^\\uFEFF/, '').trim();\n  const lines = normalized.split(/\\r?\\n/).filter((line) => line.trim().length > 0);\n  if (lines.length < 2) {\n    throw new Error('WF-2 expected CSV headers and data rows');\n  }\n\n  const headers = splitCsvLine(lines[0]).map((header) => header.trim());\n  return lines.slice(1).map((line) => {\n    const values = splitCsvLine(line);\n    const row = {};\n    headers.forEach((header, index) => {\n      row[header] = values[index] ?? '';\n    });\n    return row;\n  });\n}\n\nfunction escapeCsv(value) {\n  const text = value === null || value === undefined ? '' : String(value);\n  return /[\",\\n\\r]/.test(text) ? `\"${text.replace(/\"/g, '\"\"')}\"` : text;\n}\n\nconst rows = parseCsv(fs.readFileSync(sourcePath, 'utf8'));\nconst tierB = rows.filter((row) => String(row.tier).trim().toUpperCase() === 'B');\n\nconst enrichedRows = tierB.map((row, index) => ({\n  brand_id: row.brand_id,\n  tier: row.tier,\n  category: row.category,\n  gmv_cop_millions_12m: row.gmv_cop_millions_12m,\n  n_unique_clients_12m: row.n_unique_clients_12m,\n  gmv_90d_to_12m_ratio: row.gmv_90d_to_12m_ratio,\n  days_since_last_orig: row.days_since_last_orig,\n  recency_score: row.recency_score,\n  fit_score: row.fit_score,\n  momentum_score: row.momentum_score,\n  category_bonus: row.category_bonus,\n  final_score: row.final_score,\n  why: row.why,\n  routing: row.routing,\n  _rowIndex: index,\n  enrichment_status: 'simulado_local',\n  contacto_nombre: '',\n  contacto_email: '',\n  contacto_cargo: '',\n  linkedin_url: '',\n  cms_detectado: '',\n  dominio_sitio: ''\n}));\n\nconst headers = [\n  'brand_id',\n  'tier',\n  'category',\n  'gmv_cop_millions_12m',\n  'n_unique_clients_12m',\n  'gmv_90d_to_12m_ratio',\n  'days_since_last_orig',\n  'recency_score',\n  'fit_score',\n  'momentum_score',\n  'category_bonus',\n  'final_score',\n  'why',\n  'routing',\n  '_rowIndex',\n  'enrichment_status',\n  'contacto_nombre',\n  'contacto_email',\n  'contacto_cargo',\n  'linkedin_url',\n  'cms_detectado',\n  'dominio_sitio'\n];\n\nconst csv = [\n  headers.join(','),\n  ...enrichedRows.map((row) => headers.map((header) => escapeCsv(row[header])).join(','))\n].join('\\n') + '\\n';\n\nfs.mkdirSync('/files/workflows/demo', { recursive: true });\nfs.writeFileSync(outputPath, csv, 'utf8');\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toISOString(),\n      source_path: sourcePath,\n      output_path: outputPath,\n      total_rows: rows.length,\n      tier_b_count: tierB.length,\n      enriched_rows: enrichedRows.length\n    }\n  }\n];"
      },
      "id": "uuid-enrich-local",
      "name": "Enriquecer Tier B localmente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        50
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.SLACK_WEBHOOK_URL }}",
        "bodyType": "json",
        "body": {
          "text": "WF-2 Enrichment completado",
          "blocks": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": "WF-2: Enrichment - Completado"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "Tier B procesado con `analysis/top50.csv` real.\\nFilas enriquecidas: 35\\nSalida local: `{{ $json.output_path }}`"
              }
            }
          ]
        }
      },
      "id": "uuid-slack-success",
      "name": "Notificar éxito en Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        50
      ]
    }
  ],
  "connections": {
    "Cron Lunes 6:15 AM COT": {
      "main": [
        [
          {
            "node": "Enriquecer Tier B localmente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enriquecer Tier B localmente": {
      "main": [
        [
          {
            "node": "Notificar éxito en Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Bogota",
    "executionOrder": "v1"
  },
  "id": "ca2cb9d1-0b40-4277-8d35-3b93e7ad5bd2",
  "tags": []
}
