workflows/wf5_handoff.json
{
  "name": "WF-5: Handoff (Salesforce Simulado + Slack)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "uuid-execute-workflow-trigger",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        50,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $json;\nconst firstName = String(lead.contacto_nombre || '').split(' ')[0] || '';\nconst lastNameParts = String(lead.contacto_nombre || '').split(' ').slice(1).join(' ').trim();\nconst lastName = lastNameParts || lead.brand_id || 'Unknown';\nconst ownerId = lead.routing === 'KAM/Hunter Sr' ? (process.env.HUNTER_SR_SALESFORCE_ID || 'KAM_HUNTER_SR_LOCAL') : (process.env.SDR_MOTION_SALESFORCE_ID || 'SDR_MOTION_LOCAL');\nconst salesforceLeadId = `DEMO_${String(lead.brand_id || 'LEAD').replace(/[^A-Za-z0-9_]/g, '_')}_${Date.now()}`;\n\nconst payload = {\n  id: salesforceLeadId,\n  FirstName: firstName,\n  LastName: lastName,\n  Company: lead.brand_id || '',\n  Email: lead.contacto_email || '',\n  Phone: lead.phone || '',\n  LeadSource: 'Inbound - Addi Marketplace Motion',\n  Status: 'Open - Not Contacted',\n  OwnerId: ownerId,\n  xsell_score__c: lead.final_score ?? null,\n  bnpl_gmv_12m__c: lead.gmv_cop_millions_12m ?? null,\n  bnpl_momentum__c: lead.gmv_90d_to_12m_ratio ?? null,\n  cms_detected__c: lead.cms_detectado || '',\n  qualification_summary__c: lead.reasoning || '',\n  intent_score__c: lead.intent_score ?? null,\n  objection_type__c: lead.objection_type || null,\n  suggested_action__c: lead.suggested_action || 'agendar',\n  linkedin_url__c: lead.linkedin_url || '',\n  enrichment_status__c: lead.enrichment_status || 'success',\n  routing: lead.routing || '',\n  created_timestamp: new Date().toISOString()\n};\n\nconsole.log(`[WF-5 Salesforce payload simulated] ${JSON.stringify(payload, null, 2)}`);\n\nreturn [{ json: { ...lead, salesforce_payload: payload, salesforce_lead_id: salesforceLeadId, payload_mode: 'console_log' } }];"
      },
      "id": "uuid-build-payload",
      "name": "Construir payload Salesforce local",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "const slackChannel = $json.routing === 'KAM/Hunter Sr' ? (process.env.SLACK_CHANNEL_HUNTER_SR || '#hunter-sr') : (process.env.SLACK_CHANNEL_SDR_MOTION || '#sdr-motion');\nreturn [{ json: { ...$json, slack_channel: slackChannel } }];"
      },
      "id": "uuid-determine-channel",
      "name": "Determinar canal Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        50
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.SLACK_WEBHOOK_URL }}",
        "bodyType": "json",
        "body": {
          "text": "HANDOFF: Nuevo lead calificado",
          "blocks": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": "HANDOFF: Lead calificado"
              }
            },
            {
              "type": "section",
              "fields": [
                {
                  "type": "mrkdwn",
                  "text": "*Brand:*\\n{{ $json.brand_id }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Categoria:*\\n{{ $json.category }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*GMV 12m:*\\nCOP {{ $json.gmv_cop_millions_12m }} MM"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Momentum:*\\n{{ $json.gmv_90d_to_12m_ratio }}x"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Decision Maker:*\\n{{ $json.is_decision_maker ? 'Si' : 'No' }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Objecion:*\\n{{ $json.objection_type || 'Ninguna' }}"
                }
              ]
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Intent Score:* {{ $json.intent_score }}/100\\n*Siguiente:* {{ $json.suggested_action }}\\n\\n{{ $json.reasoning }}"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Salesforce simulado:* `{{ $json.salesforce_lead_id }}`\\n*Payload:* `{{ $json.salesforce_payload.Company }}` / `{{ $json.salesforce_payload.OwnerId }}`"
              }
            }
          ]
        }
      },
      "id": "uuid-slack-notification",
      "name": "Notificar Slack al Hunter/SDR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        650,
        50
      ]
    },
    {
      "parameters": {
        "expression": "{{ { brand_id: $json.brand_id, salesforce_lead_id: $json.salesforce_lead_id, status: 'handoff_simulado' } }}"
      },
      "id": "uuid-result",
      "name": "Resultado (handoff completado)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        850,
        50
      ]
    }
  ],
  "connections": {
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Construir payload Salesforce local",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir payload Salesforce local": {
      "main": [
        [
          {
            "node": "Determinar canal Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determinar canal Slack": {
      "main": [
        [
          {
            "node": "Notificar Slack al Hunter/SDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Slack al Hunter/SDR": {
      "main": [
        [
          {
            "node": "Resultado (handoff completado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Bogota",
    "executionOrder": "v1"
  },
  "id": "94ae8bc4-5361-4845-a955-96bfbb5d7b4c",
  "tags": []
}
